<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" style="color: white;">
    <img src="assets/images/ET.jpg" style="width: 50px; border-radius: 40%; margin: -2% 1% -2% -2%;">
    ExpenseTrack
  </a>
  <div class="pull-right">
    <h3 style="color: white;">Khandaker Abdul Matin</h3>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top: 5%;">
      <div class="row">
        <div class="col-md-4">
          <h3>All Items:</h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button class="btn btn-danger pull-right" (click)="searchBtnClicked()">Search by {{ searchBtnText }}</button>
        </div>
      </div>
      <div class="form-inline right-inner-addon pull-right">
        <fa name="search"></fa>
        <input *ngIf="searchBtnText === 'Name'" type="date" (change)="searchByItemDate()" title="Search by Date" #inputSearchByItemDate>
        <input *ngIf="searchBtnText === 'Date'" class="form-control" type="search" placeholder="Search by Item Name" aria-label="Search" (input)="searchByItemName()" #inputSearchByItem>
      </div>
      <button *ngIf="showSortButton" class="btn btn-dark" (click)="sort()">Sort by {{ sortBtnText }}</button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="font-size: large;">
      <table class="table table-hover text-center">
        <thead>
        <tr>
          <th class="text-center">Date<img *ngIf="sortArrowPosition === 'Date'" class="sortArrow"></th>
          <th class="text-center">Name<img *ngIf="sortArrowPosition === 'Name'" class="sortArrow"></th>
          <th class="text-center">Price<img *ngIf="sortArrowPosition === 'Price'" class="sortArrow"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of itemsFirebaseDB | async">
          <td>{{ item.date }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total: {{ totalPrice }}</td>
        </tr>
        </tbody>
      </table>
      <form ngNativeValidate class="row">
        <input type="date" value="{{ todayDate }}" required class="text-center" style="width: 21%;" title="Set Date" [(ngModel)]="todayDate" name="itemDate">
        <input type="text" placeholder="Name" required class="text-center" style="width: 30%;" #inputItemName>
        <input type="number" placeholder="Price" required class="text-center" style="width: 20%;" #inputItemPrice>
        <button class="btn btn-primary" type="submit" style="margin-left: 5%;" (click)="addItem()">Add Item</button>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<hr>
<div class="form-inline">
  <h6>Created by Samin Azhan</h6>
  <fa name="cog" animation="spin"></fa>
</div>
